@model Dictionary<string,object>

<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>ItemName</th>
            <th>ItemValue</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </tbody>
</table>